<h1>
  {{title}}
</h1>
<input type="text" #newTodo />
<mat-form-field class="example-full-width">
  <textarea matInput placeholder="Leave a comment"></textarea>
</mat-form-field>
 <button (click)="addTodo(newTodo.value);newTodo.value=''">ADD</button>

<table>
  <tr>
  <th>LABEL</th>
  <th>PRIORITY</th>
  <th>DONE</th>
  <th>ACTION</th>
</tr>
<tr *ngFor="let todo of todos">
  <td>{{todo.label}}</td>
  <td>{{todo.priority}}</td>
  <td>{{todo.done}}</td>
  <td><button (click)="deleteTodo(todo)" >DELETE</button></td>


</tr>

</table>