<!-- <footer class="footer">
        <div class="container">
        <div class="content-has-text-centered">
           <p id="center" style="padding-left: 500px;" >
                Made with ANGULAR by <a href="https://github.com/saurabh98s">SAURABH SUMAN</a>
          </p>
        </div>
        </div>
        </footer> -->
        <footer><mat-toolbar color="warn">
    <span id="spanning"> <p id="center" style="padding-left: 500px;" >
                Made with ANGULAR by <i class="fab fa-github"></i> <a href="https://github.com/saurabh98s">SAURABH SUMAN</a>
          </p></span>
</mat-toolbar></footer>